*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
/* Header Section */
.background-header{
    background-image: url(images/bg_1.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}
.background-content{
    padding: 20% 15%;

}
.background-content h1{
    color: white;
    font-size: 60px;
    text-align: center;
}
.background-content p{
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 2% 10%;
    margin-bottom: 2%;
}
.Click-button{
    background-color: rgb(225, 84, 33);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 42%;
    font-size: 20px;
}

/*Donate Today */

.donate-area {
    height: 100%;
    width: 100%;
    position: relative;
}

.donate-area-content {
    padding: 2% 22%;
}

.donate-area-content h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
}

.donate-area-content p {
    text-align: center;
    padding: 1%;
    margin-bottom: 2%;
    font-size: 15px;
}

.donate-btn {
    color: white;
    margin-left: 40px;
    padding-left: 250px;
    border: none;
}

#donate-btn2 {
    border: 3px solid rgb(230, 59, 59);
    background-color: rgb(239, 215, 215);
}

.donate-btn button {
    font-size: 40px;
    color: rgb(137, 126, 126);
    padding: 40px 10px;
    margin-left: 20px;
    margin-bottom: 60px;
    border-radius: 10px;

}

#other-amount {
    text-align: center;
    padding: 1%;
    margin: 2% 30%;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(230, 207, 207);
}

#other-amount input {
    font-size: 20px;
    border: none;
}

.Click-button2 {
    background-color: rgb(225, 84, 33);
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 685px;
    margin-top: 320px;
}
#other-amount a {
    margin-bottom: 90px;
}
.donate-plan-area {
    height: 100%;
    width: 100%;
    position: relative;
}

.donate-plan h1 {
    font-size: 50px;
    text-align: center;
    padding: 40px 20px;
}

.donate-plan p {
    font-size: 15px;
    text-align: center;
    padding: 2% 20%;
    margin-bottom: 2%;
}
.donate-plan-content {
    width: 100%;
    height: 100%;
    margin-left: 12%;
    margin-right: 12%;
}

.donate-plan-content1 {
    background-color: rgb(200, 246, 246);
    margin-right: 2%;
    padding: 20px 20px;
    width: 20%;
    height: 60%;
    display: inline-block;
    border: none;
    margin-bottom: 90px;
    border-radius: 15px;
}

.color1 {
    background-color: rgb(252, 228, 230);
}

.color2 {
    background-color: navajowhite;
}

.donate-plan-content1 img {
    padding: 50px 20px 10px 20px;
}

.donate-plan-content1 h3 {
    padding: 0px 20px;
}

.donate-plan-content1 p {
    padding: 10px 20px 10px 20px;
}

/* Update Section */
.email-section {
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 10px 10px;
    margin: 10px 10px;
}

.email-section h1 {
    margin-bottom: 40px;
}

.email-section p {
    font-size: 15px;
    margin: 10px 350px;
    padding: 10px 10px;
    margin-bottom: 90px;
}

.update-form-section {
    margin: 0 15%;
    padding: 5%;
    background-color: rgb(250, 227, 231);
    margin-bottom: 8%;
}

.update-form-section input {
    padding: 1.5% 7%;
    border: none;
    background-color: rgb(232, 226, 226);
    margin-left: 23%;
}

.update-form-section button {
    padding: 1.5% 3%;
    background-color: tomato;
    color: white;
    font-weight: 600;
    border: none;

}

/*  Footer Section */
.footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(10, 9, 9);
    padding-top: 90px;
    color: white;

}